<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>

<div class="container__navbar">
  <div class="navbar__picture">
    <a href="https://angular.io">
      <img
        src="https://angular.io/assets/images/logos/angular/angular.svg"
        alt=""
      />
    </a>
  </div>
  <div class="navbar__items">
    <div class="navbar__links">
      <ul class="navbar__links__list">
        <li>
          <a href="https://angular.io/quick-start" target="_blank">LEARN</a>
        </li>
        <li><a href="https://blog.angular.io/" target="_blank">BLOG</a></li>
        <li>
          <a href="https://angular.io/presskit" target="_blank">PRESS KIT</a>
        </li>
        <li><a href="https://angular.io/about" target="_blank">ABOUT</a></li>
      </ul>
    </div>
    <div class="navbar__socials">
      <ul class="navbar__socials__list">
        <li>
          <a
            class="fa fa-twitter"
            href="https://twitter.com/angular"
            target="_blank"
          ></a>
        </li>
        <li>
          <a
            class="fa fa-instagram"
            href="https://www.instagram.com/angular.io/"
            target="_blank"
          ></a>
        </li>
        <li>
          <a
            class="fa fa-dribbble"
            href="https://dribbble.com/tags/angular"
            target="_blank"
          ></a>
        </li>
        <li>
          <a
            class="fa fa-github"
            href="https://github.com/angular/angular"
            target="_blank"
          ></a>
        </li>
      </ul>
    </div>
  </div>
</div>
