<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container__navbar">
  <div class="navbar__picture">
    <img
      src="https://angular.io/assets/images/logos/angular/angular.svg"
      alt=""
    />
  </div>
  <div class="navbar__items">
    <div class="navbar__links">
      <ul class="navbar__links__list">
        <li><a href="#">LEARN</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">BOOKMARKS</a></li>
        <li><a href="#">UI KIT</a></li>
        <li><a href="#">ABOUT</a></li>
      </ul>
    </div>
    <div class="navbar__socials">
      <ul class="navbar__socials__list">
        <li>
          <a href="#"
            ><img
              src="https://img.icons8.com/?size=50&id=32292&format=png"
              alt=""
          /></a>
        </li>
        <li><a class="fa fa-facebook" href="#">Instagram</a></li>
        <li><a href="#">Dribbble</a></li>
        <li><a href="#">Medium</a></li>
      </ul>
    </div>
  </div>
</div>
