<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
/>
<div class="container__navbar">
  <div class="navbar__picture">
    <a>
      <img
        src="https://angular.io/assets/images/logos/angular/angular.svg"
        alt=""
      />
    </a>
  </div>
  <div class="navbar__items">
    <div class="navbar__links">
      <ul class="navbar__links__list">
        <li><a href="#">LEARN</a></li>
        <li><a href="#">BLOG</a></li>
        <li><a href="#">BOOKMARKS</a></li>
        <li><a href="#">UI KIT</a></li>
        <li><a href="#">ABOUT</a></li>
      </ul>
    </div>
    <div class="navbar__socials">
      <ul class="navbar__socials__list">
        <li>
          <a class="fa fa-twitter" href="#"></a>
        </li>
        <li>
          <a class="fa fa-instagram" href="#"></a>
        </li>
        <li>
          <a class="fa fa-dribbble" href="#"></a>
        </li>
        <li>
          <a class="fa fa-github" href="#"></a>
        </li>
      </ul>
    </div>
  </div>
</div>
