.container__title {
  color: #FFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container__title > h1 {
  font-size: 140px;
  display: flex;
  justify-content: center;
}

.container__title > hr {
  margin: 10px 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #3f3f3f;
  margin: 1em 0;
  padding: 0;
}
